.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
}

Button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8 15;
}

Button:hover {
    -fx-background-color: #45A049;
}

TextField, PasswordField {
    -fx-padding: 10;
    -fx-font-size: 14px;
}

Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
